body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1173px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:667px;
  height:375px;
  display:flex;
}
#u2310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:272px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:102px;
  width:235px;
  height:272px;
  display:flex;
}
#u2311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:49px;
  width:375px;
  height:667px;
  display:flex;
}
#u2312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:272px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:247px;
  width:235px;
  height:272px;
  display:flex;
}
#u2313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.392156862745098);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:613px;
  width:300px;
  height:53px;
  display:flex;
  color:#FFFFFF;
}
#u2314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:483px;
  width:300px;
  height:63px;
  display:flex;
}
#u2315 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:576px;
  width:144px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2316_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.392156862745098);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:691px;
  width:300px;
  height:53px;
  display:flex;
  color:#FFFFFF;
}
#u2317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.392156862745098);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:763px;
  width:300px;
  height:53px;
  display:flex;
  color:#FFFFFF;
}
#u2318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
