body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:717px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:667px;
  height:375px;
  display:flex;
}
#u1228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:89px;
  width:583px;
  height:298px;
  display:flex;
}
#u1230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:89px;
  width:583px;
  height:42px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:100px;
  width:20px;
  height:20px;
  display:flex;
}
#u1232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:354px;
  width:31px;
  height:26px;
  display:flex;
}
#u1233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:2px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:347px;
  width:583px;
  height:1px;
  display:flex;
}
#u1234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:131px;
  width:583px;
  height:217px;
}
#u1235_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:217px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:409px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:409px;
  display:flex;
}
#u1236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1235_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:217px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1235_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:409px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:409px;
  display:flex;
  color:#D9001B;
}
#u1237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:359px;
  width:210px;
  height:16px;
  display:flex;
}
#u1238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1238_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
