body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:717px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4712 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:667px;
  height:375px;
  display:flex;
}
#u4712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4713 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:89px;
  width:585px;
  height:298px;
}
#u4713_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:298px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4713_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:583px;
  height:256px;
  display:flex;
}
#u4714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:42px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:583px;
  height:198px;
}
#u4716_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:198px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4716_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:329px;
  touch-action:none;
}
#u4717_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:329px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4717_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4718 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:14px;
  width:85px;
  height:85px;
  display:flex;
}
#u4718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4718_img.selected {
}
#u4718.selected {
}
#u4718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4719 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:14px;
  width:85px;
  height:85px;
  display:flex;
}
#u4719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4719_img.selected {
}
#u4719.selected {
}
#u4719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4720 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:14px;
  width:85px;
  height:85px;
  display:flex;
}
#u4720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4720_img.selected {
}
#u4720.selected {
}
#u4720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4721 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:14px;
  width:85px;
  height:85px;
  display:flex;
}
#u4721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4721_img.selected {
}
#u4721.selected {
}
#u4721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4722 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:124px;
  width:85px;
  height:85px;
  display:flex;
}
#u4722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4722_img.selected {
}
#u4722.selected {
}
#u4722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4723 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:124px;
  width:85px;
  height:85px;
  display:flex;
}
#u4723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4723_img.selected {
}
#u4723.selected {
}
#u4723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4724 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:124px;
  width:85px;
  height:85px;
  display:flex;
}
#u4724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4724_img.selected {
}
#u4724.selected {
}
#u4724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4725 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:124px;
  width:85px;
  height:85px;
  display:flex;
}
#u4725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4725_img.selected {
}
#u4725.selected {
}
#u4725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4726 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:234px;
  width:85px;
  height:85px;
  display:flex;
}
#u4726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4726_img.selected {
}
#u4726.selected {
}
#u4726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4727 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:234px;
  width:85px;
  height:85px;
  display:flex;
}
#u4727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4727_img.selected {
}
#u4727.selected {
}
#u4727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4728 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:234px;
  width:85px;
  height:85px;
  display:flex;
}
#u4728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4728_img.selected {
}
#u4728.selected {
}
#u4728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4729 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:234px;
  width:85px;
  height:85px;
  display:flex;
}
#u4729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4729_img.selected {
}
#u4729.selected {
}
#u4729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4716_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:198px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4716_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:409px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:409px;
  display:flex;
  color:#D9001B;
}
#u4730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4731 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:11px;
  width:20px;
  height:20px;
  display:flex;
}
#u4731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4732 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:249px;
  width:140px;
  height:40px;
  display:flex;
}
#u4732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
