body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:717px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4649 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:667px;
  height:375px;
  display:flex;
}
#u4649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4650 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:89px;
  width:585px;
  height:298px;
}
#u4650_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:298px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4650_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:583px;
  height:256px;
  display:flex;
}
#u4651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:42px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:583px;
  height:198px;
}
#u4653_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:198px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4653_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:329px;
  touch-action:none;
}
#u4654_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:329px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4654_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4655 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:14px;
  width:85px;
  height:85px;
  display:flex;
}
#u4655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4655_img.selected {
}
#u4655.selected {
}
#u4655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4656 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:14px;
  width:85px;
  height:85px;
  display:flex;
}
#u4656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4656_img.selected {
}
#u4656.selected {
}
#u4656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4657 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:14px;
  width:85px;
  height:85px;
  display:flex;
}
#u4657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4657_img.selected {
}
#u4657.selected {
}
#u4657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4658 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:14px;
  width:85px;
  height:85px;
  display:flex;
}
#u4658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4658_img.selected {
}
#u4658.selected {
}
#u4658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4659 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:124px;
  width:85px;
  height:85px;
  display:flex;
}
#u4659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4659_img.selected {
}
#u4659.selected {
}
#u4659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4660 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:124px;
  width:85px;
  height:85px;
  display:flex;
}
#u4660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4660_img.selected {
}
#u4660.selected {
}
#u4660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4661 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:124px;
  width:85px;
  height:85px;
  display:flex;
}
#u4661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4661_img.selected {
}
#u4661.selected {
}
#u4661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4662 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:124px;
  width:85px;
  height:85px;
  display:flex;
}
#u4662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4662_img.selected {
}
#u4662.selected {
}
#u4662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4663 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:234px;
  width:85px;
  height:85px;
  display:flex;
}
#u4663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4663_img.selected {
}
#u4663.selected {
}
#u4663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4664 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:234px;
  width:85px;
  height:85px;
  display:flex;
}
#u4664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4664_img.selected {
}
#u4664.selected {
}
#u4664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4665 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:234px;
  width:85px;
  height:85px;
  display:flex;
}
#u4665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4665_img.selected {
}
#u4665.selected {
}
#u4665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u4666 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:234px;
  width:85px;
  height:85px;
  display:flex;
}
#u4666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4666_img.selected {
}
#u4666.selected {
}
#u4666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4653_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:198px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4653_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:409px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u4667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:409px;
  display:flex;
  color:#D9001B;
}
#u4667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4668 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:11px;
  width:20px;
  height:20px;
  display:flex;
}
#u4668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4669 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:249px;
  width:140px;
  height:40px;
  display:flex;
}
#u4669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
