body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1222px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:667px;
  height:375px;
  display:flex;
}
#u908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:89px;
  width:583px;
  height:298px;
  display:flex;
}
#u909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:42px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:89px;
  width:583px;
  height:42px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:100px;
  width:20px;
  height:20px;
  display:flex;
}
#u911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u912_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u912_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:146px;
  width:300px;
  height:25px;
  display:flex;
}
#u912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u912_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912.disabled {
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:146px;
  width:86px;
  height:25px;
  display:flex;
}
#u913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:194px;
  width:44px;
  height:44px;
  display:flex;
}
#u915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:194px;
  width:107px;
  height:44px;
  display:flex;
}
#u916 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u917 {
  position:absolute;
  left:559px;
  top:204px;
}
#u917_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  display:flex;
}
#u918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u917_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u917_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#70B603;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  display:flex;
  color:#70B603;
}
#u919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:254px;
  width:44px;
  height:44px;
  display:flex;
}
#u921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:254px;
  width:107px;
  height:44px;
  display:flex;
}
#u922 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#70B603;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:264px;
  width:86px;
  height:25px;
  display:flex;
  color:#70B603;
}
#u923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:317px;
  width:446px;
  height:130px;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  display:flex;
}
#u925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:0px;
  width:281px;
  height:30px;
  display:flex;
}
#u926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:165px;
  height:50px;
  display:flex;
}
#u927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:50px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:30px;
  width:281px;
  height:50px;
  display:flex;
}
#u928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:165px;
  height:50px;
  display:flex;
}
#u929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:50px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:80px;
  width:281px;
  height:50px;
  display:flex;
}
#u930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.392156862745098);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:140px;
  width:300px;
  height:53px;
  display:flex;
}
#u931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:83px;
  width:190px;
  height:32px;
  display:flex;
}
#u932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u932_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:357px;
  width:86px;
  height:25px;
  display:flex;
}
#u933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u934 {
  position:absolute;
  left:820px;
  top:410px;
}
#u934_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  display:flex;
}
#u935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u934_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u934_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#70B603;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  display:flex;
  color:#70B603;
}
#u936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.392156862745098);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:216px;
  width:300px;
  height:53px;
  display:flex;
}
#u937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
