body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1224px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:667px;
  height:375px;
  display:flex;
}
#u4945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:54px;
  width:56px;
  height:56px;
  display:flex;
}
#u4946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:60px;
  width:79px;
  height:16px;
  display:flex;
}
#u4947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4947_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:82px;
  width:85px;
  height:16px;
  display:flex;
}
#u4948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4948_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:68px;
  width:22px;
  height:18px;
  display:flex;
}
#u4949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:68px;
  width:110px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:153px;
  width:138px;
  height:224px;
}
#u4951_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:224px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4951_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:224px;
  display:flex;
}
#u4952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4953 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:41px;
  width:115px;
  height:67px;
  display:flex;
}
#u4953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4954 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:117px;
  width:115px;
  height:67px;
  display:flex;
}
#u4954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4955 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:12px;
  width:54px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4956 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:153px;
  width:329px;
  height:224px;
}
#u4956_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:224px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4956_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:224px;
  touch-action:none;
}
#u4957_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:224px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4957_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:224px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:224px;
  display:flex;
}
#u4958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:94px;
  height:94px;
  display:flex;
}
#u4959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:94px;
  height:94px;
  display:flex;
}
#u4960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4961 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:12px;
  width:94px;
  height:94px;
  display:flex;
}
#u4961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4962 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:118px;
  width:94px;
  height:94px;
  display:flex;
}
#u4962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4963 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:12px;
  width:94px;
  height:94px;
  display:flex;
}
#u4963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4964 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:118px;
  width:94px;
  height:94px;
  display:flex;
}
#u4964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4965 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:12px;
  width:94px;
  height:94px;
  display:flex;
}
#u4965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4966 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:118px;
  width:94px;
  height:94px;
  display:flex;
}
#u4966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4967 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:12px;
  width:94px;
  height:94px;
  display:flex;
}
#u4967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4968 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:118px;
  width:94px;
  height:94px;
  display:flex;
}
#u4968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4969 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:12px;
  width:94px;
  height:94px;
  display:flex;
}
#u4969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u4970 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:118px;
  width:94px;
  height:94px;
  display:flex;
}
#u4970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u4971 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:136px;
  width:1px;
  height:200px;
  display:flex;
}
#u4971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:272px;
}
#u4972 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:153px;
  width:134px;
  height:272px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u4972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4973 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:385px;
  width:94px;
  height:40px;
  display:flex;
}
#u4973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4974 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:385px;
  width:94px;
  height:40px;
  display:flex;
}
#u4974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4975 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:385px;
  width:94px;
  height:40px;
  display:flex;
}
#u4975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4976 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:385px;
  width:94px;
  height:40px;
  display:flex;
}
#u4976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4977 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:385px;
  width:94px;
  height:40px;
  display:flex;
}
#u4977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:385px;
  width:52px;
  height:40px;
  display:flex;
}
#u4978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:63px;
  width:26px;
  height:26px;
  display:flex;
}
#u4979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:63px;
  width:26px;
  height:26px;
  display:flex;
}
#u4980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:63px;
  width:31px;
  height:26px;
  display:flex;
}
#u4981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:63px;
  width:15px;
  height:26px;
  display:flex;
}
#u4982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:46px;
  width:445px;
  height:894px;
}
#u4984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  display:flex;
}
#u4984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:0px;
  width:280px;
  height:30px;
  display:flex;
}
#u4985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:165px;
  height:50px;
  display:flex;
}
#u4986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:30px;
  width:280px;
  height:50px;
  display:flex;
}
#u4987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:165px;
  height:50px;
  display:flex;
}
#u4988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:80px;
  width:280px;
  height:50px;
  display:flex;
}
#u4989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:165px;
  height:50px;
  display:flex;
}
#u4990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:130px;
  width:280px;
  height:50px;
  display:flex;
}
#u4991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:165px;
  height:50px;
  display:flex;
}
#u4992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:180px;
  width:280px;
  height:50px;
  display:flex;
}
#u4993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:165px;
  height:50px;
  display:flex;
}
#u4994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:230px;
  width:280px;
  height:50px;
  display:flex;
}
#u4995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:165px;
  height:50px;
  display:flex;
}
#u4996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u4997 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:280px;
  width:280px;
  height:50px;
  display:flex;
}
#u4997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u4998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:165px;
  height:50px;
  display:flex;
}
#u4998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:330px;
  width:280px;
  height:50px;
  display:flex;
}
#u4999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:65px;
}
#u5000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:380px;
  width:165px;
  height:65px;
  display:flex;
}
#u5000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:65px;
}
#u5001 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:380px;
  width:280px;
  height:65px;
  display:flex;
}
#u5001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:65px;
}
#u5002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:445px;
  width:165px;
  height:65px;
  display:flex;
}
#u5002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:65px;
}
#u5003 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:445px;
  width:280px;
  height:65px;
  display:flex;
}
#u5003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:64px;
}
#u5004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:165px;
  height:64px;
  display:flex;
}
#u5004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:64px;
}
#u5005 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:510px;
  width:280px;
  height:64px;
  display:flex;
}
#u5005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:64px;
}
#u5006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:574px;
  width:165px;
  height:64px;
  display:flex;
}
#u5006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:64px;
}
#u5007 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:574px;
  width:280px;
  height:64px;
  display:flex;
}
#u5007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:64px;
}
#u5008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:638px;
  width:165px;
  height:64px;
  display:flex;
}
#u5008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:64px;
}
#u5009 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:638px;
  width:280px;
  height:64px;
  display:flex;
}
#u5009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:64px;
}
#u5010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:702px;
  width:165px;
  height:64px;
  display:flex;
}
#u5010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:64px;
}
#u5011 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:702px;
  width:280px;
  height:64px;
  display:flex;
}
#u5011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:64px;
}
#u5012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:766px;
  width:165px;
  height:64px;
  display:flex;
}
#u5012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:64px;
}
#u5013 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:766px;
  width:280px;
  height:64px;
  display:flex;
}
#u5013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:64px;
}
#u5014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:830px;
  width:165px;
  height:64px;
  display:flex;
}
#u5014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:64px;
}
#u5015 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:830px;
  width:280px;
  height:64px;
  display:flex;
}
#u5015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5016 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:332px;
  width:26px;
  height:26px;
  display:flex;
}
#u5016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5017 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:284px;
  width:26px;
  height:26px;
  display:flex;
}
#u5017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u5018 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:385px;
  width:31px;
  height:26px;
  display:flex;
}
#u5018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u5019 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:246px;
  width:15px;
  height:26px;
  display:flex;
}
#u5019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:51px;
}
#u5020 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:98px;
  width:53px;
  height:51px;
  display:flex;
}
#u5020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:51px;
}
#u5021 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:98px;
  width:53px;
  height:51px;
  display:flex;
}
#u5021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:51px;
}
#u5022 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:98px;
  width:53px;
  height:51px;
  display:flex;
}
#u5022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:51px;
}
#u5023 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:434px;
  width:53px;
  height:51px;
  display:flex;
}
#u5023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5024 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:501px;
  width:94px;
  height:40px;
  display:flex;
}
#u5024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5025 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:68px;
  width:87px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u5025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5025_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u5026 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:66px;
  width:23px;
  height:18px;
  display:flex;
}
#u5026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:81px;
  width:45px;
  height:45px;
  display:flex;
}
#u5027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u5028 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:141px;
  width:22px;
  height:18px;
  display:flex;
}
#u5028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:191px;
  width:23px;
  height:18px;
  display:flex;
}
#u5029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:578px;
  width:31px;
  height:27px;
  display:flex;
}
#u5030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:578px;
  width:31px;
  height:27px;
  display:flex;
}
#u5031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:578px;
  width:31px;
  height:27px;
  display:flex;
}
#u5032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:578px;
  width:31px;
  height:27px;
  display:flex;
}
#u5033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5034 {
  position:absolute;
  left:341px;
  top:345px;
}
#u5034_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5034_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:94px;
  height:40px;
  display:flex;
}
#u5035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:94px;
  height:40px;
  display:flex;
}
#u5036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:94px;
  height:40px;
  display:flex;
}
#u5037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  display:flex;
}
#u5038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:632px;
  width:52px;
  height:40px;
  display:flex;
}
#u5039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:758px;
  width:94px;
  height:40px;
  display:flex;
}
#u5040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:825px;
  width:94px;
  height:40px;
  display:flex;
}
#u5041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:889px;
  width:94px;
  height:40px;
  display:flex;
}
#u5042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:692px;
  width:94px;
  height:40px;
  display:flex;
}
#u5043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
